version: 2
jobs:
  test:
    docker:
      - image: circleci/node:12.22.1
      - image: pawurb/ganache:latest
    parallelism: 1
    steps:
      - checkout
      - run: npm i
      - run: npm run lint
      - run: npm run compile
      - run: npm run test
workflows:
  version: 2
  test:
    jobs:
      - test
